<%include partial/header.ejs%>
	<div class="container" >
		<div class="jumbotron landing"><header>
				<h1>Welcome to Innovacer</h1>
				<p>Please choose a option from below to Continue</p>
				<p >
					<label for="">I am </label>
					<a href="/checkIn/" class="btn btn-info btn-lg" >
				Checking In</a>
					<a href="/checkOut/" class="btn btn-primary btn-lg" >
				Checking Out</a>

			</header>
		</div>


	</div>

<%include partial/footer.ejs%> 